name: DevKit Publish

on:
    push:
        tags:
            - "v*.*.*" # triggers on tags like v1.0.0

jobs:
    publish-pwsh:
        name: Publish PowerShell Module
        runs-on: windows-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Setup PowerShell
              uses: actions/setup-powershell@v2

            - name: Install Required Modules
              shell: pwsh
              run: Install-Module -Name PowerShellGet -Force -SkipPublisherCheck

            - name: Publish DevKit to PSGallery
              shell: pwsh
              env:
                  PSGALLERY_API_KEY: ${{ secrets.PSGALLERY_API_KEY }}
              run: |
                  Publish-Module -Path ./pwsh -NuGetApiKey $env:PSGALLERY_API_KEY -Verbose

    release-bash:
        name: Publish Bash Scripts
        runs-on: ubuntu-latest
        needs: publish-pwsh

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Zip Bash Scripts
              run: |
                  mkdir -p release
                  zip -r release/devkit-bash.zip bash/

            - name: Create GitHub Release
              id: create_release
              uses: actions/create-release@v1
              with:
                  tag_name: ${{ github.ref_name }}
                  release_name: Release ${{ github.ref_name }}
                  draft: false
                  prerelease: false
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Upload Bash Artifact
              uses: actions/upload-release-asset@v1
              with:
                  upload_url: ${{ steps.create_release.outputs.upload_url }}
                  asset_path: release/devkit-bash.zip
                  asset_name: devkit-bash.zip
                  asset_content_type: application/zip
